.boom{
    padding-bottom: 500px;
}
.about-image{
    background: url(images/banner.jpg);
    width: 1000px;
    height: 250px;
    background-position: center;
    margin: 0 auto;
    border-radius: 25px;
}
.about-text{
    padding: 35px;
    text-align: center;
    padding-bottom: 100px;
}